{{#top-bar
  title=model.name
  backRoute="cashboxes.show"
  backModel=model.cashbox
  editRoute="books.edit"
  editModel=model
}}{{/top-bar}}

{{#book-metainformation book=model}}{{/book-metainformation}}

<div class="ui attached segment">
  <table class="ui single line table">
    <tbody>
      {{#each model.line_items as |item|}}
        <tr {{bind-attr class="item.isPositive:positive:negative"}}>
          <td>{{moment-format item.charged_at 'l'}}</td>
          <td>Matter</td>
          <td>{{item.receipt_url}}</td>
          <td>{{item.amount}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{#book-metainformation book=model}}{{/book-metainformation}}
