{{#top-bar
  title=model.name
  backRoute="cashboxes.show"
  backModel=model.cashbox
  editRoute="books.edit"
  editModel=model
}}{{/top-bar}}

{{#book-metainformation book=model}}{{/book-metainformation}}

<ul class="line_items">
  {{#each model.line_items as |item|}}
    <li class="line_item">
      <p>Charged at: {{moment-format item.charged_at 'l'}}</p>
      <p>Amount: {{item.amount}} EUR</p>
    </li>
  {{/each}}
</ul>

{{#book-metainformation book=model}}{{/book-metainformation}}
