<div class="ui secondary segment">
  <div class="ui fluid huge action input">
    {{input type="text" id="new-cashbox" placeholder="Office Berlin" value=name enter="createCashbox"}}
    <button class="ui teal right labeled icon button" {{action "createCashbox"}}>
      Create
      <i class="travel icon"></i>
    </button>
  </div>
</div>
