<div class="ui secondary segment">
  <div class="ui fluid huge action input">
    {{input type="text" id="edit-cashbox" value=cashbox.name enter="updateName"}}
    <button class="ui teal right labeled icon button" {{action "updateName"}}>
      Update Cashbox
      <i class="travel icon"></i>
    </button>
  </div>
</div>
