<div class="ui secondary bottom attached center aligned segment">
  <button class="relaxed massive circular ui teal icon button" {{action "show" form}}>
    <i class="large icon add"></i>
  </button>
</div>
