{{#top-bar
  title=model.name
  backRoute="cashboxes.show"
  backModel=model
}}{{/top-bar}}

<div class="ui secondary segment">
  {{#edit-cashbox cashbox=model updateName="updateName"}}{{/edit-cashbox}}

  <div class="ui horizontal divider">
    Or
  </div>

  <button class="ui fluid negative huge button" {{action 'destroyCashbox' model}}>
    <i class="icon trash outline"></i> Delete
  </button>
</div>
