{{#top-bar title="Your Cashboxes"}}{{/top-bar}}

{{#new-cashbox createCashbox="createCashbox"}}{{/new-cashbox}}

<div>
  <div class="ui segment">
    <div class="ui massive relaxed center aligned selection divided list">
      {{#each model as |cashbox|}}
        {{#link-to "cashboxes.show" cashbox class="item"}}
          <i class="right large teal travel icon"></i>
          <div class="content middle aligned">
            <div class="header">{{cashbox.name}}</div>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>
