{{#top-bar
  title="New Cashbox"
  backRoute="cashboxes.index"
}}{{/top-bar}}

<div class="ui container">
  <div class="ui segment">
    {{#new-cashbox createCashbox="createCashbox"}}{{/new-cashbox}}
  </div>
</div>
