{{#top-bar
  title=model.name
  backRoute="cashboxes.index"
  editRoute="cashboxes.edit"
  editModel=model
}}{{/top-bar}}

<div class="main_content">

  <ul class="books">
    {{#each model.books as |book|}}
      <li class="book">
        {{#link-to "books.show" book}}
          <h1>{{moment-format book.opened_at 'l'}}</h1>
          <p>Opening Balance: {{book.opening_balance}}</p>
          <p>Total: {{book.total}}</p>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>

</div>
